*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: Titillium;
  src: url('fonts/Titillium-Regular.otf') format('opentype');
}
html {
  font-family: 'Titillium', 'Electrolize', sans-serif;
  background: url('img/dotted.png');
  color: #287093;
}
.info {
  color: #a2770f;
}
.small {
  color: #2c799f;
  font-size: 12px;
  line-height: 16.8px;
}
.text-center {
  text-align: center;
}
.btn {
  border: 1px solid #223f51;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
  transition-duration: 0.2s;
  transition-property: color;
  text-transform: uppercase;
  background: linear-gradient(135deg, #353446, #2d3c41);
}
.btn.btn-inline {
  display: inline-block;
}
.btn.btn-big {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}
.btn:hover {
  border: 1px solid #225e70;
  text-shadow: 0 0 4px #09F;
}
body {
  width: 900px;
  margin: 0 auto;
}
h1 {
  font-size: 24px;
  color: #00e7ff;
  font-weight: normal;
  text-transform: uppercase;
  height: 56px;
  line-height: 60px;
  border-top: 1px solid #00e7ff;
  border-bottom: 1px solid #1681a5;
  position: relative;
  text-shadow: 0 0 20px #09F;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
a {
  color: #00aeff;
}
.block {
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #223f51;
}
.block.login {
  width: 500px;
  margin-top: 25px;
}
.lobby .briefing {
  font-size: 18px;
  padding: 30px;
  margin: 10px;
  line-height: 28px;
  font-style: italic;
  background: linear-gradient(131deg, #35344670, #2d3c4100);
}
.lobby .character {
  display: flex;
  align-items: center;
  min-width: 250px;
  margin: 10px;
}
.lobby .character .picture {
  width: 80px;
  height: 80px;
  border: 1px solid #223f51;
  margin-right: 10px;
}
.lobby .character .name {
  color: #fff;
  text-transform: uppercase;
  display: block;
}
.lobby .character .player {
  color: #2c799f;
  font-size: 12px;
  line-height: 16.8px;
  display: block;
}
.lobby .character.current .picture {
  border: 1px solid #00e7ff;
  box-shadow: 0 0 6px #09F;
}
.lobby .character.placeholder .name {
  background: #ffffff29;
  width: 120px;
  height: 20px;
  margin-bottom: 8px;
}
.lobby .character.placeholder .player {
  background: #2c799f2e;
  width: 60px;
  height: 12px;
}
.lobby .characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}
.lobby .header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 898px;
  overflow: hidden;
  height: 150px;
  border-bottom: 1px solid #223f51;
}
.lobby .header-img .title {
  text-align: center;
  font-size: 24px;
  color: #00e7ff;
  font-weight: normal;
  text-transform: uppercase;
  height: 56px;
  line-height: 60px;
  position: relative;
  text-shadow: 0 0 20px #09F;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  background: #00000073;
}
.lobby .header-img.hangar-crew {
  background: url('img/hangar_crew.png') no-repeat top left;
}
input[type="text"] {
  size: 40px;
  background-color: #040A13;
  border: 1px solid #070F1C;
  color: #53A7C5;
  padding: 0 0 0 10px;
  height: 35px;
}
input[type="text"]:focus {
  border: 1px solid #00b7ca;
  border-top-color: #00b7ca;
  border-right-color: #00b7ca;
  border-bottom-color: #00b7ca;
  border-left-color: #00b7ca;
  color: #42c6e7;
  box-shadow: inset 0 0 20px rgba(0, 112, 200, 0.3);
}
.p-25 {
  padding: 25px;
}
