*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: 'Electrolize', sans-serif;
  background: url('img/dotted.png');
  color: #287093;
}
.info {
  color: #a2770f;
}
.small {
  color: #2c799f;
  font-size: 12px;
  line-height: 16.8px;
}
.text-center {
  text-align: center;
}
.btn {
  background-color: rgba(49, 55, 63, 0.3);
  border: 1px solid #223f51;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
  transition-duration: 0.2s;
  transition-property: color;
  margin-top: 5px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #353446, #2d3c41);
}
.btn.btn-inline {
  display: inline-block;
}
.btn:hover {
  border: 1px solid #225e70;
  text-shadow: 0 0 4px #09F;
}
body {
  width: 900px;
  margin: 0 auto;
}
h1 {
  font-size: 24px;
  color: #00e7ff;
  font-weight: normal;
  text-transform: uppercase;
  height: 56px;
  line-height: 60px;
  border-top: 1px solid #00e7ff;
  border-bottom: 1px solid #1681a5;
  position: relative;
  text-shadow: 0 0 20px #09F;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
a {
  color: #00aeff;
}
.block {
  background: rgba(0, 0, 0, 0.3);
  margin: 15px auto;
  padding: 25px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #223f51;
}
.block.login {
  width: 500px;
}
input[type="text"] {
  size: 40px;
  background-color: #040A13;
  border: 1px solid #070F1C;
  color: #53A7C5;
  padding: 0 0 0 10px;
  height: 35px;
}
input[type="text"]:focus {
  border: 1px solid #00b7ca;
  border-top-color: #00b7ca;
  border-right-color: #00b7ca;
  border-bottom-color: #00b7ca;
  border-left-color: #00b7ca;
  color: #42c6e7;
  box-shadow: inset 0 0 20px rgba(0, 112, 200, 0.3);
}
