{% extends 'base.html.twig' %}

{% block body %}
    <div class="block">
        <p class="small">Salut {{ app.user.username }} - <a href="{{ path('logout') }}">logout</a></p>
    </div>
{% endblock body %}
