{% extends 'base.html.twig' %}

{% block body %}
    <h2>Login</h2>

    {% if error is defined and error %}
        <span>{{ error }}</span>
    {% endif %}

    {% for owner in hwi_oauth_resource_owners() %}
        <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
    {% endfor %}

{% endblock body %}
