{% extends '@App/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <p>Salut {{ app.user.username }} - <a href="{{ path('logout') }}"><small>logout</small></a></p>
            <p>Code invitation : <code>{{ app.user.getCurrentCharacter.game.id }}</code></p>
            <hr>
            <p>Bienvenu dans le jeu.</p>
        </div>
    </div>
{% endblock %}
